
# bash file
nohup.out

# config file
config.py

# python
__pycache__

# logging
debug.log
derby.log
*.log

# install file
*.tgz

# jupyter
.ipynb_checkpoints/

# spark
spark-warehouse/
metastore_db/

# data
ko_words_date.csv
ko_words.csv